.adres {
  &__block {
    display: flex;
    padding-top: 28px;
    padding-left: 20px;
    padding-bottom: 26px;
  }

  &__text {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #444444;

    &--dillers {
      margin: 0;
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #111111;
      padding-right: 16px;
    }
  }
}
