.advantages {
  margin-top: 20px;

  .header {
    margin: 0;
    margin-bottom: 40px;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    display: flex;
    padding-bottom: 20px;
  }

  &__img {
    padding-right: 20px;
  }

  &__info {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    margin: 0;
  }
}
