.choose-program {
  z-index: 1;
  width: 320px;
  height: 480px;
  background: url("../img/index/index-background-food.png") no-repeat;
  background-size: 320px 302px;
  margin: 0 auto;

  @media (min-resolution: 2dppx) and (min-device-pixel-ratio: 2) {
    background: url("../img/index/index-2-background-food.png") no-repeat;
    background-size: 320px 302px;
  }
}

.choose-program__header {
  color: #ffffff;
  width: 249px;
  padding: 27px 36px 25px 35px;
  margin: 0;
  text-align: center;
}

.choose-program__img {
  margin-left: 20px;
}

.choose-program__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 60px 29px 62px;
  margin: 0;
  width: 198px;
}

.choose-program__button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 7px 73px 7px 73px;
  background-color: #68b738;
  margin-left: 20px;
}

.choose-program__button:hover {
  background: #5eaa2f;
}

.choose-program__button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #5eaa2f;
}

@media (min-width: @tablet-width) {
  .choose-program__header {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    width: 414px;
    padding-bottom: 41px;
    padding-left: 117px;
    padding-top: 62px;
    text-align: unset;
  }

  .choose-program {
    width: 709px;
    height: 870px;
    // height: 20%;
    background-image: none;
  }

  .choose-program__text {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    width: 283px;
    padding-left: 119px;
    margin-bottom: 110px;
  }

  .choose-program__img {
    position: absolute;
    width: 709px;
    height: 609px;
    left: 29px;
    top: 341px;
    z-index: -1;
    display: flex;
  }

  .choose-program__button {
    padding: 14px 26px;
    margin-left: 120px;
  }
}

@media (min-width: @desktop-width) {
  .choose-program {
    background-image: url("../img/index/index-background-food_desktop.png"), linear-gradient(to right, #ffffff 50%, #64a73c 50%);
    background-repeat: no-repeat;
    background-size: 720px 694px, auto 694px;
    background-position: top right, top center;
    z-index: -2;
    width: auto;
    min-width: 1440px;

    @media (min-resolution: 2dppx) and (min-device-pixel-ratio: 2) {
      background-image: url(../img/index/index-2-background-food_desktop.png), linear-gradient(to right, #ffffff 50%, #64a73c 50%);;
    }
  }

  .choose-program__img {
    position: absolute;
    width: 552px;
    height: 499px;
    left: 558px;
    top: 141px;
    z-index: 0;
    margin: 0;
  }

  .choose-program__header {
    padding-left: 190px;
    font-size: 60px;
    line-height: 60px;
    text-align: inherit;
    padding-top: 223px;
  }

  .choose-program__text {
    padding-left: 190px;
  }

  .choose-program__button {
    margin-left: 190px;
  }

  .choose-program__block {
    position: relative;
    width: 1440px;
    height: 700px;
  }
}
