.example {
  background-color: #eaeaea;
  padding-left: 20px;
}

.example__block-header {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 14px 21px 18px;
  min-width: 118px;
  text-align: center;
}

.example__block-text {
  width: 87px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  text-align: center;
  position: relative;
  background: #eaeaea;
  z-index: 3;
  left: 19px;
  bottom: 5px;
}

.example__header {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 40px;
}

.example__information-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__information-header {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 188px;
  padding-left: 46px;
}

.example__information-block {
  display: flex;
  width: 280px;
  margin: 0;
  margin-bottom: 20px;
}

.example__information-info {
  margin: 0;
}

.example__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 20px;
  width: 280px;
}

.example__information-section {
  margin: 0;
  padding-bottom: 20px;
  margin-right: 32px;
}

.example-list__information-info {
  margin: 0;
  width: 124px;
}

.range__text {
  margin: 0;
}


@media (min-width: @tablet-width) {
  .example__text {
    width: 708px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    padding-bottom: 54px;
  }

  .example__block-text {
    background: #ffffff;
  }

  .example {
    padding-left: 0;
  }

  .example__information-section {
    width: 162px;
    height: 77px;
    margin-right: 42px;
  }

  .example__header {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
  }

  .example__block-header {
    text-align: center;
  }

  .example__information-header {
    width: 180px;
    text-align: end;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin-left: 80px;
  }

  .example__information-list {
    display: flex;
    padding-left: 30px;
  }

  .example__block {
    width: 768px;
  }

  .example__information-item:last-child {
    margin-left: 167px;
  }
}

@media (min-width: @desktop-width) {
  .example__block {
    background-color: #eaeaea;
    width: 1440px;
    height: 470px;
  }

  .example__header {
    background-color: #ffffff;
    padding-bottom: 76px;
  }

  .example__block-text {
    background: #eaeaea;
  }

  .example__text {
    width: 436px;
    padding-bottom: 69px;
    padding-top: 70px;
  }

  .example__information-header {
    margin: 0;
    width: 280px;
  }

  .example__information-item:last-child {
    margin: 0;
  }

  .example__information {
    display: flex;
    height: 462px;
  }

  .example__information-list {
    flex-direction: column;
  }
}
