.extra {
  border: none;
  margin: 0;
  padding: 0;
}

.extra__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.extra__item {
  padding-bottom: 20px;
  max-width: 220px;
}

.extra__item:nth-child(4) {
  padding-bottom: 34px;
}

.extra__header {
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 34px;
  margin: 0;
}

.extra__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.extra__get {
  .extra-text__get {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0;
  }

  .extra-button__get {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    border: none;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background: #68b738;
    margin: 0;
    margin-bottom: 21px;
    padding: 12px 60px 12px 60px;
  }
}

@media (min-width: @tablet-width) {
  .extra__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .extra__get {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .extra__list {
    display: flex;
  }

  .extra__item {
    padding-right: 100px;
  }

  .extra__item:last-child {
    padding-right: 0;
  }
}
