.form-filter {
  border: none;
  margin: 0;
  padding: 0;

  .form-filter__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .form-filter__item {
    padding-bottom: 12px;
  }

  .form-filter__item:nth-child(3) {
    padding-bottom: 19px;
  }

  .form-filter__label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #222222;
  }
}
