.gift {
  width: 280px;
  height: 290px;
  background: url("../img/gift-background.png") no-repeat;
}

.gift__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .gift {
    display: flex;
    width: 707px;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    flex-direction: column;
    width: 245px;
    height: 289px;
    margin-top: auto;
    margin-left: 79px;
  }

  .gift__svg {
    display: block;
    text-align: center;
  }
}
