.gift {
  width: 280px;
  height: 290px;
  background: url("../img/gift-background.png") no-repeat;
}

.gift__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  align-items: center;
}

