.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  margin: 0;

  .site-list__link {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
  }
}

.site-list {
  display: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: block;
  }

  .main-nav__wrapper {
    width: 440px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__togle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: block;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__wrapper {
    width: 478px;
  }

  .main-nav__togle {
    display: none;
  }

  .main-nav {
    margin-left: auto;
  }
}
