.main-form {
  border: none;
  margin: 0;
  padding: 0;
}

.main-form__header {
  margin: 0;
  font-weight: normal;
  padding-bottom: 37px;
}

.main-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-form__item {
  padding-bottom: 13px;
}

.main-form__item:nth-child(3) {
  padding-bottom: 27;
}

.main-form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 13px 181px 16px 14px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.main-form__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-right: 12px;
}

.main-form__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 39px;
}
