.money__block {
  background-color: #eaeaea;
}

.money__img-cat {
  display: block;
  width: 280px;
  height: 232px;
}

.money__img-skinny {
  display: none;
}

@media (min-width: @tablet-width) {
  .money {
    width: 768px;
    background: #eaeaea;
    text-align: -webkit-center;
  }
}

@media (min-width: @desktop-width) {
  .money__img-cat {
    width: 592px;
    height: 511px;
    position: absolute;
    bottom: 355px;
    left: 100px;
    z-index: 3;
  }

  .money {
    position: relative;
    text-align: unset;
    margin-left: auto;
  }
}
