.page-header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.page-header__logo {
  background: url("../img/logo-mobile.png") no-repeat;
  width: 33px;
  height: 37px;
  margin-right: 57px;
  margin-left: 20px;
<<<<<<< Updated upstream
=======
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
>>>>>>> Stashed changes
}

.page-header__logo-text {
  margin-right: 65px;
}

.page-header__block {
  display: flex;
  padding-top: 10px;
  padding-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
  }

  .page-header__logo {
    background: url("../img/logo-tablet.png") no-repeat;
    width: 60px;
    height: 50px;
    margin: 0;
    margin-right: 12px;
  }

<<<<<<< Updated upstream
=======
  .page-header__logo-img {
    margin-right: 12px;
    width: 60px;
    height: 50px;
  }

>>>>>>> Stashed changes
  .page-header__logo-svg {
    width: 101px;
    height: 18px;
  }

  .page-header__block {
    max-width: 174px;
    padding-top: 24px;
    padding-left: 30px;
  }

  .page-header__logo-text {
    margin: 0;
  }

  .page-header__block:hover {
    opacity: 0.8;
  }

  .page-header__block:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-svg {
    width: 117px;
    height: 21px;
  }

  .page-header__logo {
    width: 70px;
    height: 60px;
    margin-left: 0;
  }

  .page-header__block {
    min-width: 202px;
    min-height: 59px;
    padding: 0;
  }

  .page-header {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-top: 54px;
    padding: 0 110px;
    justify-content: space-between;
<<<<<<< Updated upstream
=======
    max-width: unset;
    text-align: center;
>>>>>>> Stashed changes
  }

  .body-index {
    .page-header {
      position: absolute;
      z-index: 2;
    }
  }
}
