.page-footer__block {
  background-color: #f2f2f2;
}

.page-footer__location {
  width: 320px;
  height: 362px;
  background: url("../img/location.png") no-repeat;
}

.page__footer-logo {
  width: 128px;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.page__footer-logo:hover svg {
  opacity: 0.8;
}

.page__footer-logo:active svg {
  opacity: 0.6;
}

.page-footer {
  position: relative;
}

.body-catalog {
  .page-footer {
    background-color: #f2f2f2;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__location {
    width: 100%;
    box-sizing: border-box;
    height: 400px;
  }

  .page__footer-logo {
    width: 128px;
    height: 24px;
    border: none;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    padding-top: 63px;
  }
}

@media (min-width: @desktop-width) {
  .page__footer-logo {
    padding-left: 110px;
  }

  .body-catalog {
    .page-footer {
      background-color: #ffffff;
    }
  }
}
