.product-card {
  .header {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #222222;
    margin: 0;

    &__main {
      font-size: 36px;
      line-height: 36px;
      color: #000000;
    }
  }

  &__info {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__button {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    border: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background: #68b738;
    margin: 0;
    margin-bottom: 25px;
    padding: 12px 60px 12px 60px;
  }
}
