.social {
  border-top: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 130px;
  padding-top: 20px;
  padding-bottom: 21px;
}

.social__item:not(:last-child) svg {
  fill: #666666;
}


.social__item:last-child svg {
  stroke: #666666;
}

.social__item:hover svg {
  stroke: #68b738;
}

.social__item:last-child:hover svg {
  fill: #68b738;
}

.social__item:active svg {
  stroke: #68b738;
  opacity: 0.1;
}

.social__item:last-child:active svg {
  fill: #68b738;
  opacity: 0.1;
}

.social__item:nth-child(1) {
  padding-right: 37px;
}

.social__item:nth-child(2) {
  padding-right: 33px;
}

@media (min-width: @tablet-width) {
  .social {
    padding-top: 60px;
    width: 129px;
    height: 30px;
    border: none;
  }

  .social__item:nth-child(1) {
    padding-left: 156px;
  }

  .social__list {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .social__item:nth-child(1) {
    padding-left: 413px;
  }
}
