.stats {
  background-color: #f2f2f2;
}

.stats__img {
  padding: 24px 19px 22px 22px;
}

.stats__header {
  height: 37px;
}

.stats__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 0 22px 38px 33px;
}

.stats__catalog {
  display: flex;

  .stats-text__catalog {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 19px;
  }
}

.stats__block {
  margin-bottom: 20px;

  .stats-text__block {
    display: flex;
  }
}

